# Techniques to handle categorical missing values
### 1) Frequent Category Imputation
### 2) Adding a Variable to capture Nan
### 3) Replacing NaN with New category

# Technique 3) Replacing NaN with New category
#### if frequent categories are multiple, then NaN is replaced with New category

In [1]:
import pandas as pd
df = pd.read_csv('House Prices_train.csv')
# Download Link: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data?select=train.csv
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [2]:
#cant read all 81 columns in above dataframe. So,
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [3]:
# lets focus on 4 particular columns / features
df = pd.read_csv('House Prices_train.csv',usecols=['BsmtQual', 'FireplaceQu', 'GarageType', 'SalePrice'])
df
# 'BsmtQual', 'FireplaceQu', 'GarageType' are Categorical features
# 'SalePrice' is dependent feature

     BsmtQual FireplaceQu GarageType  SalePrice
0          Gd         NaN     Attchd     208500
1          Gd          TA     Attchd     181500
2          Gd          TA     Attchd     223500
3          TA          Gd     Detchd     140000
4          Gd          TA     Attchd     250000
...       ...         ...        ...        ...
1455       Gd          TA     Attchd     175000
1456       Gd          TA     Attchd     210000
1457       TA          Gd     Attchd     266500
1458       TA         NaN     Attchd     142125
1459       TA         NaN     Attchd     147500

[1460 rows x 4 columns]

In [4]:
import numpy as np
# creating a new function
def impute_nan(df,variable):
    df[variable+'_New_Category'] = np.where(df[variable].isnull(),'Missing',df[variable])
#"missing value" is a new category

In [5]:
# For loop , as explained in last video
for feature in ['BsmtQual', 'FireplaceQu', 'GarageType']:
    impute_nan(df,feature)
df.head(25)

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_New_Category,FireplaceQu_New_Category,GarageType_New_Category
0,Gd,NaN,Attchd,208500,Gd,Missing,Attchd
1,Gd,TA,Attchd,181500,Gd,TA,Attchd
2,Gd,TA,Attchd,223500,Gd,TA,Attchd
3,TA,Gd,Detchd,140000,TA,Gd,Detchd
4,Gd,TA,Attchd,250000,Gd,TA,Attchd
5,Gd,NaN,Attchd,143000,Gd,Missing,Attchd
6,Ex,Gd,Attchd,307000,Ex,Gd,Attchd
7,Gd,TA,Attchd,200000,Gd,TA,Attchd
8,TA,TA,Detchd,129900,TA,TA,Detchd
9,TA,TA,Attchd,118000,TA,TA,Attchd
10,TA,NaN,Detchd,129500,TA,Missing,Detchd
11,Ex,Gd,BuiltIn,345000,Ex,Gd,BuiltIn
12,TA,NaN,Detchd,144000,TA,Missing,Detchd
13,Gd,Gd,Attchd,279500,Gd,Gd,Attchd
14,TA,Fa,Attchd,157000,TA,Fa,Attchd
15,TA,NaN,Detchd,132000,TA,Missing,Detchd
16,TA,TA,Attchd,149000,TA,TA,Attchd
17,NaN,NaN,CarPort,90000,Missing,Missing,CarPort
18,TA,NaN,Detchd,159000,TA,Missing,Detchd
19,TA,NaN,Attchd,139000,TA,Missing,Attchd
20,Ex,Gd,BuiltIn,325300,Ex,Gd,BuiltIn
21,TA,Gd,Attchd,139400,TA,Gd,Attchd
22,Gd,Gd,Attchd,230000,Gd,Gd,Attchd
23,Gd,TA,Attchd,129900,Gd,TA,Attchd
24,TA,TA,Attchd,154000,TA,TA,Attchd

In [6]:
#As New features are generated by replacing Nan values,
# So, Old features are not needed. Lets DROP them

df = df.drop(['BsmtQual', 'FireplaceQu', 'GarageType'],axis=1) # "axis=1" mentiones the axis to find the features
df.head(25)

,SalePrice,BsmtQual_New_Category,FireplaceQu_New_Category,GarageType_New_Category
0,208500,Gd,Missing,Attchd
1,181500,Gd,TA,Attchd
2,223500,Gd,TA,Attchd
3,140000,TA,Gd,Detchd
4,250000,Gd,TA,Attchd
5,143000,Gd,Missing,Attchd
6,307000,Ex,Gd,Attchd
7,200000,Gd,TA,Attchd
8,129900,TA,TA,Detchd
9,118000,TA,TA,Attchd
10,129500,TA,Missing,Detchd
11,345000,Ex,Gd,BuiltIn
12,144000,TA,Missing,Detchd
13,279500,Gd,Gd,Attchd
14,157000,TA,Fa,Attchd
15,132000,TA,Missing,Detchd
16,149000,TA,TA,Attchd
17,90000,Missing,Missing,CarPort
18,159000,TA,Missing,Detchd
19,139000,TA,Missing,Attchd
20,325300,Ex,Gd,BuiltIn
21,139400,TA,Gd,Attchd
22,230000,Gd,Gd,Attchd
23,129900,Gd,TA,Attchd
24,154000,TA,TA,Attchd